body{
    background: #AAD4F3;
    margin: 0px;
}

/*zacatek banner*/

#velke_cerne_logo{
    height: 105px;
    width: 584px;
    margin-bottom: -5px;
}


h1{
    color: #3E6182;
        -webkit-text-stroke-width: 2.5px;
        -webkit-text-stroke-color: #3E6182;
        font-family: "Roboto Slab";
        font-size: 58px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 2.9px;
        text-align: center;
        margin: -15px;
}

h2{
    color: #F0F2F2;
        font-family: "Roboto Slab", serif;
        font-size: 58px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
        margin: 20px;
}

#banner{
    display: grid;
    justify-content: center;
    align-items: center;
}

#zkousim{
    display:flex;
    justify-content: space-between;
    margin-right: 7rem;
    align-items: center;
}

#terminy{
    margin-top: 100px;
    margin-left: 100px;
    align-self: end;
    display: inline-block;
}

.terminy_text{
    color: var(--Color_text, #3E6182);
        font-weight: 700;
}


h4{
    color: var(--Color_text, #3E6182);
        font-family: "Roboto Slab";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 7px;
}

#warning{
    color: #EBA800;
        text-align: center;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        /* 31.5px */
        letter-spacing: 0.21px;
}

.upozorneni{
    color: var(--Color_text, #3E6182);
    display: none;
    display: inline-block;
    width: 405px;
    font-family: "Roboto Slab";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 15px;
    margin: 0px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FAB400' stroke-width='7' stroke-dasharray='30%2c 30' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
}

.banner2{
    color: #EBA800;
        font-family: "Roboto Slab";
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        margin-top: 25px;
}

#nelze{
        font-weight: 700;
}

#posledni_cast_banera{
    margin-top: 17px;
    margin-left: 100px;
    margin-bottom: 30px;
}

h5{
    color: #F0F2F2;
        font-family: Roboto;
        font-size: 32px;
        font-style: italic;
        font-weight: 300;
        line-height: normal;
        margin: 0px;
}

.line{   
    width: 100%;
    border-top: 2px dashed #F0F2F2;        
}

/*konec banner*/

/*zacatek formy*/

#formular{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    margin-bottom: 115px;
}


.star{
    color: #D41111;
        font-family: "Roboto Slab";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.24px;
}

label{
    color: var(--Color_text, #3E6182);
        font-family: "Roboto Slab";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 36px */
        letter-spacing: 0.24px;
}

#jina{
    display: none;
}

input{
    height: 46px;
    width: 460px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #3E6182;
    background: #F0F2F2;
}

#form0{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 85px;
}

.form1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px;
    column-gap: 150px;
}

.form2{
    display: inline-block;
}


/*konec formy*/
input[value="Poslat"]{
    border-radius: 4px;
    background: #EBA800;
    width: 181px;
    /*padding: 10px 19px 10px 19px;*/
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--Color_text, #F0F2F2);
    font-family: "Roboto Slab";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 48px */
    letter-spacing: 0.32px;
    border: unset;
    align-self: center;
    margin-bottom: 120px;
    margin-top: 30px;
}

/*#cast3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*column-gap: 10px;*/
/*}*/

#cast3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

#dulezite{
    padding:40px;
    text-align: center;
    width: 900px;
    margin-bottom: 120px;
    margin-top: 30px;
    align-self: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FAB400' stroke-width='12' stroke-dasharray='50%2c 50' stroke-dashoffset='5' stroke-linecap='square'/%3e%3c/svg%3e");
    /*background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FAB400' stroke-width='7' stroke-dasharray='50%2c 50'/%3e%3c/svg%3e");*/
}

#dulezite1{
    color: #EBA800;
        text-align: center;
        font-family: "Roboto Slab";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin:0px;
        /* 48px */
        letter-spacing: 0.32px;
}

.dulezite2{
    color: var(--Color_text, #F0F2F2);
        text-align: center;
        font-family: "Roboto Slab";
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 36px */
        letter-spacing: 0.24px;
}

/*zacatek footer*/

#footer0{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    column-gap: 150px;

}

.footer1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.footer2{
    display:inline-block;
}

#telefon{
    width: 48px;
    height: 50px;
}

#email{
    width: 53px;
    height: 42px;
}

p{
    color: #F0F2F2;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 5px;
}

#male_logo{
    height: 79px;
    width: 79px;
}

footer{
    background-color: #3E6182;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

