/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,700;1,700&display=swap');
*/
* {
    font-family: "Roboto", sans-serif;
}

.fontMono {
    font-family: "Roboto Mono", monospace;
}

header {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
    background-color:#5088B5;
    color: white;
}

